<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         beStrictAboutTestsThatDoNotTestAnything="false"
         colors="true"
         convertDeprecationsToExceptions="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnError="false"
         stopOnFailure="false"
         verbose="true"
         bootstrap="App/Core/bootstrap.php"
         printerClass="NunoMaduro\Collision\Adapters\Phpunit\Printer"
>
    <testsuites>
        <testsuite name="ASMVC Test Suite">
            <directory suffix="Test.php">App/Tests/</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="APP_ENV" value="testing"></env>
    </php>
</phpunit>