<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link rel="stylesheet" href="{asset(TW_CSS)}" />
  <link href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap" rel="stylesheet" />
  <title>ASMVC</title>
</head>

<body>
  <div class="container min-h-screen mx-auto w-full flex items-center justify-center">
    <div class="card w-96 bg-base-300 shadow-xl">
      <div class="card-body">
        <div class="card-title">A Simple PHP MVC</div>
        <p>Created by Albet Novendo</p>
        <div class="card-actions mt-10 justify-end items-center">
        <p class="text-end text-xl font-semibold">Follow me:</p>
          <div class="flex gap-3 flex-col lg:flex-row">
            <a class="btn btn-outline btn-success" target="_blank" href="https://github.com/albetnov">Github</a>
            <a class="btn btn-outline btn-secondary" target="_blank" href="https://instagram.com/al_nv4">Instagram</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>