<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link rel="stylesheet" href="{asset(TW_CSS)}" />
  <link href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap" rel="stylesheet" />
  <title>ASMVC</title>
</head>

<body class="dark:bg-zinc-600">
  <div class="container min-h-screen mx-auto w-full flex items-center justify-center">
  <div class="border border-zinc-700 shadow shadow-zinc-300 p-10 rounded w-[70%] dark:bg-zinc-700 dark:border-none dark:shadow-slate-700">
      <h1 class="text-4xl my-2 font-bold dark:text-white">A Simple MVC</h1>
      <hr class="border-zinc-600 my-3 dark:border-white" />
      <h4 class="text-xl mb-3 dark:text-white">A PHP MVC</h4>
      <p class="text-base dark:text-white">Created by Albet Novendo.</p>
      <p class="mb-2 dark:text-white">Follow me:</p>
      <div class="flex gap-3 mt-10 flex-col lg:flex-row">
        <a class="py-3 px-7 border border-lime-700 rounded text-lime-600 dark:text-lime-500 dark:border-lime-500 transition-all delay-100 hover:bg-black dark:hover:bg-white dark:hover:text-black hover:text-white hover:border-black" target="_blank" href="https://github.com/albetnov">Github</a>
        <a class="py-3 px-7 border border-pink-700 rounded text-pink-600 dark:text-pink-500 dark:border-pink-500 dark:hover:bg-white dark:hover:text-black transition-all delay-100 hover:bg-black hover:text-white hover:border-black" target="_blank" href="https://instagram.com/al_nv4">Instagram</a>
      </div>
    </div>
  </div>
</body>

</html>